/*

	Cash handed display style.css

*/

#cashHandedDisplayContainer {
	display: grid;
	grid-template-columns: 1fr;
	padding: 2%;
}

#lblCashHandedDisplay {
	background-color: #CCFF33;
	color: #006600;
	padding: 2%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}
